<nav class="navbar navbar-dark bg-info">
  <a class="navbar-brand" href="#">PayPay - Peer Review</a>
  <span>User: {{currentUserFullName}}</span>
  <span class="navbar-text clickable" {{action "logout" on="click"}}>
    Log out
  </span>
</nav>
<div class="row">
  <div class="col-4">
    <h4>Employee List:</h4>
    <div class="list-group" id="list-tab" role="tablist">
      {{#each model as |employee|}}
        <a class={{concat "list-group-item " "list-group-item-action " (if (eq selectedEmployee.id employee.id) "active")}} {{action "employeeClicked" employee}} id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">{{employee.name}}</a>
      {{else}}
        Sorry, nobody is here.
      {{/each}}
      {{#if isUserAdmin}}
        <button type="button" class="btn btn-info addEmployee" data-toggle="modal" data-target="#exampleModalLong" {{action "addEmployee"}}>+ Add Employee</button>
      {{/if}}
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
        {{profile-main employee=selectedEmployee model=model}}
      </div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">P</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">K</div>
    </div>
  </div>
</div>
<BsModal
  @open={{openModal}}
  @onSubmit={{action "submit"}}
  @onHidden={{action (mut openModal) false}} as |modal|>
  <modal.header>
    <h4 class="modal-title">
      Enter new employee details.
    </h4>
  </modal.header>
  <modal.body>
    <BsForm @formLayout="horizontal" @model={{newEmployee}} @onSubmit={{action "submit"}} as |form|>
      <form.element @controlType="text" @label="Name" @placeholder="Full Name" @property="name" @required={{true}} />
      <form.element @controlType="text" @label="Role" @placeholder="Role" @property="role" @required={{true}} />
      <form.element @controlType="text" @label="Team" @placeholder="Team" @property="team" @required={{true}} />
      <form.element @controlType="text" @label="Username" @placeholder="Username" @property="username" @required={{true}} />
      <form.element @controlType="password" @label="Password" @placeholder="Password" @property="password" @required={{true}} />
      <form.element @controlType="checkbox" @label="Is he/she an admin?" @property="isAdmin" />
      {{!-- <form.element @controlType="radio" @label="isAdmin" @property="isAdmin" @options={{radioOptions}} @optionLabelPath="label" /> --}}
      {{!-- <BsButton @defaultText="Submit" @type="primary" @buttonType="" /> --}}
    </BsForm>
  </modal.body>
  <modal.footer>
    <BsButton @onClick={{action modal.close}}>Cancel</BsButton>
    {{!-- <BsButton @type="danger">Delete</BsButton> --}}
    <BsButton @type="success" @onClick={{action modal.submit}}>Save</BsButton>
  </modal.footer>
</BsModal>